@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0px;
    padding: 0px;
}

:root{
    --cor1: hsl(0, 100%, 67%);
    --cor2: hsl(39, 100%, 56%);
    --cor3: hsl(166, 100%, 37%);
    --cor4: hsl(234, 85%, 45%);


    --cor5: hsl(252, 100%, 67%);
    --cor6: hsl(241, 81%, 54%);

    --cor7: hsla(256, 72%, 46%, 1);
    --cor8: hsla(241, 72%, 46%, 0);


    --cor9: hsl(0, 0%, 100%);
    --cor10: hsl(221, 100%, 96%);
    --cor11: hsl(241, 100%, 89%);
    --cor12: hsl(224, 30%, 27%);

    --font: "Hanken Grotesk", sans-serif;
}

body{
    background-color: var(--cor9);
    font-family: var(--font);
}

#block1{
    background-color: var(--cor7);
    height: 400px;
    border-bottom-left-radius: 25px; 
    border-bottom-right-radius: 25px;
    text-align: center;
    padding: 20px;
}

#block1 > h1{
    font-weight: 800;
    font-size: 25px;
    margin: 15px;
}

#block1 > h2{
    font-weight: 800;
    font-size: 28px;
}

#block1 > p{
    font-weight: 500;
    font-size: 18px;
    padding: 25px;
}

#circle{
    background-color: var(--cor5);
    width: 150px;
    height: 150px;
    margin: auto;
    margin-bottom: 15px;
    border-radius: 75px;
}

#circle > h1{
    font-weight: 800;
    font-size: 50px;
}

h2{
    font-weight: 700;
}





