@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0px;
    padding: 0px;
}

:root{
    --cor1: hsla(0, 100%, 67%, 0.300);
    --cor2: hsl(39, 100%, 56%, 0.300);
    --cor3: hsl(166, 100%, 37%, 0.300);
    --cor4: hsl(234, 85%, 45%, 0.300);


    --cor5: hsl(252, 100%, 67%);
    --cor6: hsl(241, 81%, 54%);

    --cor7: hsla(256, 72%, 46%, 1);
    --cor8: hsla(241, 72%, 46%, 0);


    --cor9: hsl(0, 0%, 100%);
    --cor10: hsl(221, 100%, 96%);
    --cor11: hsl(241, 100%, 89%);
    --cor12: hsl(224, 30%, 27%);

    --font: "Hanken Grotesk", sans-serif;
}

body{
    background-color: var(--cor9);
    font-family: var(--font);
}

#block1{
    background-color: var(--cor6);
    height: 400px;
    border-bottom-left-radius: 25px; 
    border-bottom-right-radius: 25px;
    text-align: center;
    padding: 20px;
}

#block1 > h1{
    font-weight: 800;
    font-size: 25px;
    margin: 15px;
}

#block1 > h2{
    font-weight: 800;
    font-size: 28px;
}

#block1 > p{
    font-weight: 500;
    font-size: 18px;
    padding: 25px;
}

#circle{
    display: grid;
    background-image: linear-gradient(to bottom, hsl(234, 85%, 45%), hsl(241, 81%, 54%));
    width: 155px;
    height: 155px;
    margin: auto;
    margin-bottom: 15px;
    border-radius: 85px;
    align-items: center;
}



#circle > h1{
    font-weight: 800;
    font-size: 50px;
}

#circle > p{
    font-weight: 500;
    font-size: 20px;
}

h2{
    font-weight: 700;
}

#block2 > h1{
    font-size: 20px;
    padding: 25px;
}

#block2 > .blocks{
    display: flex;
    height: 60px;
    width: 300px;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.blocks > img{
    width: 25px;
    height: 25px;
}

.blocks > .p1{
    padding: 2px;
    margin-left: 15px;
    margin-right: 105px;
    font-weight: bolder;
}

.blocks > .p2{
    padding: 2px;
    margin-left: 15px;
    margin-right: 120px;
    font-weight: bolder;
}

.blocks > p{
    font-family: var(--font);
}

#pred{
    color: hsl(0, 100%, 50%);
}

#myellow{
    color: hsl(39, 100%, 50%);
}

#vgreen{
    color: hsl(166, 100%, 50%);
}

#vblue{
    color: hsl(234, 100%, 50%);
}

#red{
    background-color: var(--cor1);
}

#yellow{
    background-color: var(--cor2);
}

#green{
    background-color: var(--cor3);
}

#blue{
    background-color: var(--cor4);
}

button{
    background-color: var(--cor12);
    width: 350px;
    height: 60px;
    margin: 39px;
    border-style: none;
    border-radius: 30px;
    font-family: var(--font);
    font-size: 18px;
    color: var(--cor10);
}

button:hover{
    background-image: linear-gradient(to bottom,  hsl(234, 85%, 45%), hsl(241, 81%, 54%));
    color: var(--cor9)
}





